:root{
  --bg-color-one: #282c34;
  --bg-color-two: #333842;
  --bg-color-three: #3d4147;

  --button: #03DAC6;
  --link: #61dafb;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .App-header {
  width: 65%;
}

.App #input {
  flex: 2;
  border: solid 1px;
  border-radius: 5px;

  background-color: var(--bg-color-one);
  color: #fff;
}

.App #submit-button {
  flex: 1;
  border: none;
  border-radius: 5px;

  background: var(--button);
  color: var(--bg-color-one);
  cursor: pointer;

}

.App #submit-button, .App #input {
  font-size: inherit;
  padding: 5px;
  margin: 0px 2vh;

}

.App #submit-button:active {
  background: var(--bg-color-two);
  color: #ccc;
}

.App form {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.App #list-head {
  padding-bottom: 4vh;
}

.App #list-body {
  padding: 0;
}

.App #list-body li {
  display: block;

  background: var(--bg-color-three);
  border-radius: 5px;

  padding: 2%;
  margin-bottom: 2vh;
}

#list-body li a {
  color: #fff;
  text-decoration: none;
}

#list-body li a:hover {
  color: var(--button);
}

.categories {
  font-size: smaller;
  color: #abc;
  font-style: italic;
}

.description {
  font-size: smaller;
}

.App #list-body img{
  padding-top: 2vh;
}

.App #loader {
  max-width: 100%;
}

.App .book-upper {
  display: flex;
}

.App .book-image {
  flex: 1;
}

.App .title-category {
  flex: 2;
}