:root{
  --bg-color-one: #282c34;
  --bg-color-two: #333842;
  --bg-color-three: #3d4147;

  --button: #03DAC6;
  --link: #61dafb;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App #submit-button {
  border: none;

  background: var(--button);
  color: var(--bg-color-one);

  padding: 0;
}

.App #submit-button:active {
  background: var(--bg-color-two);
}

.App form {
  display: flex;
  justify-content: center;
}

.App #list-head {
  padding-bottom: 4vh;
}

.App #list-body {
  padding: 0;
}

.App #list-body li {
  display: grid;

  background: var(--bg-color-three);
  border-radius: 5px;

  padding: 0px 2vh;
  margin-bottom: 2vh;
  width: 70vh;
}

#list-body li a {
  color: #fff;
  text-decoration: none;
}

#list-body li a:hover {
  color: var(--button);
}

.categories {
  font-size: smaller;
  color: #fff;
  font-style: italic;
}

.App #list-body img{
  padding-top: 2vh;
}
